@import url('https://fonts.googleapis.com/css2?family=Gentium+Book+Basic:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

/*Medias responsive tamaños*/
@mixin xxl{
    @media screen and (min-width:1400px){
        @content;
    }
}

@mixin xl{
    @media screen and (min-width:1200px) and (max-width:1399px){
        @content;
    }
}

@mixin lg{
    @media screen and (min-width:992px) and (max-width:1199px){
        @content;
    }
}

@mixin md{
    @media screen and (min-width:768px) and (max-width:991px){
        @content;
    }
}

@mixin sm{
    @media screen and (min-width:576px) and (max-width:767px){
        @content;
    }
}

@mixin xs{
    @media screen and (max-width:575px){
        @content;
    }
}


$titulo_font-size: 2.5rem;
$titulo_font-family: 'Gentium Book Basic', serif;
$titulo_text-align: center;
$titulo_letter-spacing: 2px;
$titulo_margin-top: 100px;
$titulo_margin-bottom: 60px; 


$subtitulo_font-size: 1.5rem;
$subtitulo_margin-bottom: 15px;
$subtitulo_font-family: 'Ubuntu', sans-serif;
$subtitulo_text-align: center;


$txtGeneral_font-family: 'Ubuntu', sans-serif;
$txtGeneral_font-size: 1.1rem;
$txtGeneral_line-height: 2;
$txtGeneral_text-align: justify;
$txtGeneral_padding: 0px;
$listas_style-position: inside;


$colors: (
    titulo: rgb(6, 163, 90),
    subtitulo: rgb(52, 153, 52),
    texto: rgb(17, 17, 17),
);

@each $nombre, $color in $colors{
    ##{$nombre}{
        color: $color;
    }
}



@mixin flex-row-center{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}



#flex-row-center{
    @include flex-row-center;
}


$estilos: (
    color: rgb(0, 0, 0),
    s1.7: 1.7rem,
    center: center,
    mbot30: 30px,
)





